#main {
    font-family: 'Raleway', sans-serif;
}

.bg-green {
    /*background: #3E5151; !* fallback for old browsers *!*/
    background: rgba(62, 81, 81, .2); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #DECBA4, #3E5151); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.feature {
    background: url(../img/resume_bg4.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    color: #fff;
}

.feature .overlay {
    position: relative;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(51, 51, 51, 0.2);
}

.about {
    background: url(../img/about_forest.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 70vh;
    color: #fff;
}


.about .overlay {
    position: relative;
    left: 0;
    min-height: 70vh;
    width: 100%;
    background: rgba(51, 51, 51, 0.2);
}

.about-desc {
    padding: 12vh 0 0 15vw;
    min-height: 30vh;
    background-color: rgb(222, 203, 164);
}

.about-me {
    padding-top: 5vh;
    min-height: 65vh;
    background-color: rgba(222, 203, 164, .5);
}

.projects {
    background: url(../img/projects-bg.jpeg) no-repeat center center;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    color: #fff;
}


.projects .overlay {
    position: relative;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(51, 51, 51, 0.2);
}

.project {
    background: url(../img/project-bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    color: #fff;
}


.project .overlay {
    position: relative;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(51, 51, 51, 0.4);
}



.skill_badge {
    padding: 10px;
    border-radius: 10px;
    background: rgba(62, 81, 81, .7); /* Chrome 10-25, Safari 5.1-6 */
}

.btn-forest {
    background-color: rgba(222, 203, 164, .5);
    color: white;
}

.btn-forest:hover {
    color: white;
    background-color: rgba(222, 203, 164, .1);
}

.btn-visit {
    color: white;
    background-color: rgba(26, 117, 255, .5);
}

.btn-visit:hover {
    color: white;
    background-color: rgba(0, 61, 153, .5);
}

.bg-project-card {
    background-color: rgba(62, 81, 81, .3);
}