.bg-green {
    /*background: #3E5151; !* fallback for old browsers *!*/
    background: rgba(62, 81, 81, .5); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #DECBA4, #3E5151); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.feature {
    background: url(../img/resume_bg4.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 97.4vh;
    color: #fff;
}

.feature .overlay {
    position: relative;
    left: 0;
    min-height: 97.4vh;
    width: 100%;
    background: rgba(51, 51, 51, 0.2);
}

.skill_badge {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background: rgba(62, 81, 81, .7); /* Chrome 10-25, Safari 5.1-6 */
}

.btn-forest {
    background-color: rgba(222, 203, 164, .5);
    color: white;
}

.btn-forest:hover {
    color: white;
    background-color: rgba(222, 203, 164, .1);
}

.btn-visit {
    color: white;
    background-color: rgba(26, 117, 255, .5);
}

.btn-visit:hover {
    color: white;
    background-color: rgba(0, 61, 153, .5);
}

.bg-project-card {
    background-color: rgba(62, 81, 81, .3);
}