{% extends 'base.html' %}

{% block content %}
    <div class="project">
        <div class="overlay">
            {% include 'partials/_navbar.html' %}

            <div class="container text-white">
                <h1 class="display-4 text-center">{{ project.title }}</h1>

                <img src="{{ project.main_photo.url }}" alt="main" class="mb-2"
                     style="max-height: 50vh; display: block; margin-left: auto; margin-right: auto">

                {% if project.side_note %}
                    <div class="text-center text-danger">
                        <h2>{{ project.side_note }}</h2>
                    </div>
                {% endif %}

                <div style="margin-left: 10vw">
                    <h5>Tech Used:</h5>
                    <div class="my-4">
                        {% for skill in skills %}
                            <span class="skill_badge">{{ skill }}</span>
                        {% endfor %}
                    </div>
                    <div class="bg-green">
                        {{ project.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}